
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles/main.css">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"/>
</head>
<body>
  <div class="container1">
    <h1>Welcome<h2><%= user.name %></h2></h1>
    <a class="log" href="/logout">Logout</a>
    <h1>My Blog</h1><br>
    <a id="newPostBtn" href="/new">New Post</a>
    <ul id="postsList">
      <% posts.forEach(post => { %>
        <li class="postsList">
          <h2><%= post.title %></h2>
          <small><%= post.date %></small>
          <p><%= post.posts %></p>
          <small>By: <%= post.name %></small>
          
          <% if (post.name === user.name) { %>
            <a class="edit" href="/edit/<%= post.id %>">Edit</a>
            <a class="delete" href="/posts/delete/<%= post.id %>">Delete</a>
          <% } %>
        </li>
      <% }); %>
    </ul>

  </div>

</body>

</html>
</body>
</html>
<%- include("partials/footer.ejs") -%>