<%-include("partials/blog.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles/main.css">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"/>
</head>
<body>
  <div class="container1">
    <h3>Welcome&nbsp;<i><smalla><%= user.name %></smalla></i></h3><br>
    <a class="btn btn-success rounded-pill px-4 " type="button" href="/new">New Post</a>
    <ul id="postsList">
      <% posts.forEach(post => { %>
        <li class="postsList">
          <h4><%= post.title %></h4>
          <small><%= post.date %></small>
          <p><%= post.posts %></p>
          <small>By: <i><%= post.name %></i></small>
          
          <% if (post.name === user.name) { %>
            <a class="btn btn-warning rounded-pill px-3" type="button" href="/edit/<%= post.id %>">Edit</a>&nbsp;
            <a class="btn btn-danger rounded-pill px-3" type="button" href="/posts/delete/<%= post.id %>">Delete</a>
            
          <% } %>
        </li>
      <% }); %>
    </ul>

  </div>

</body>

</html>
</body>
</html>
<%- include("partials/footer.ejs") -%>